/* src/App.css */
.app {
  display: flex;
}


.sidebar {
  width: 200px;
  /* margin-top: 200px; */
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.sidebar ul{
  margin-top: 100px;
}

.content {
  flex: 1;
  /* padding: 20px; */
  padding: 20px 20px 0px 20px;
}
.shdow{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  }

  .boderrdish{
    border-radius: 10px;

  }
  .colorteal{
    background-color: teal !important;
  }
  .colorwhite{
    color: white !important;
  }
  .clorebackwhite{
    background-color: white !important;
  }
  .buttiondesign{
    padding: 8px 29px !important;
    text-align: center;
   
    min-height: 45px;
  }
  .textdesign{
    font-weight: 700 !important;
    text-transform: capitalize;
    font-size: 14px;
  }